body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 2em;
}

header.startup {
	background-image: url("startUp.JPG");
	background-size: cover;
	height: 100%;
	background-position: center;
}

header.startup h1 {
	color: #644F6B;
	font-size: 2.5rem; 
	text-shadow: 1px 1px #140F16;
}

.btn {
	margin: 20px;
	border-radius: 50px;
	font-family: : "Montserrat", sans-serif;
}


.btn-secondary {
	background-color: #644F6B;
	box-shadow: 4px 4px 6px #140F16;
	border: 2px solid #644F6B;
	color: #2C1D31;
	text-shadow: 1px #140F16;
}


.btn:hover {
	background-color: #2C1D31;
	color: #644F6B;
	border: 10px;
	transform: scale(1.1);
	cursor: pointer;
}